.contenedora-form-addimagen{
	position: relative;
	width: 85%;
	margin: 1% 7.5%;
	display: grid;
	grid-template-columns: 60% 40%;
}

.contenedora-form-addimagen h1{
	text-align: center;
	grid-area: 1 / 1 / 2 / 3;
	margin: 2%;
}

.contenedora-imgTemporal{
	position: relative;
	width: 80%;
	margin: 2% 10%;
}

.div-imgTemporal{
	position: relative;
}

.div-imgTemporal img{
	position: relative;
}

.form-addImagen{
	width: 100%;
	padding: 1%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.form-addImagen input{
	width: 98%;
	padding: 1%;
	margin: 1%;
	height: 30px;
}

.form-addImagen label{
	width: 96%;
}

.form-addImagen button{
	margin: 1% 0;
	padding: 1% 1.5%;
	font-size: 16px;
}

@media(max-width: 700px){
	.contenedora-form-addimagen{
		width: 90%;
		margin: 1% 5%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}

	.form-addImagen button{
		margin: 1.5% 0;
		padding: 1% 2%;	
		font-size: 14px;
	}
}
