.slideshow-container {
	position: absolute;
	min-width: 100px;
	height: 100%;
	width: 100%;
}

.articulo .slideshow-container img{
	position: absolute;
	min-width: 100px;
	height: 100%;
	width: 100%;
}

.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: #D8D8D8;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}

.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
}

.active, .dot:hover {
	background-color: #717171;
}

.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

@-webkit-keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}

@keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}

@media(max-width: 860px){
	.prev, .next {
		margin-top: -20px;
		font-size: 16px;
	}
}

@media(max-width: 750px){
	.prev, .next {
		margin-top: -17px;
		font-size: 15px;
	}
}

@media(max-width: 640px){
	.prev, .next {
		margin-top: -18px;
		font-size: 14px;
	}
}