.contactar, .correo{
	font-family: Raleway;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	gap: 10px;
}

.instrucciones{
	width: 92%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	gap: 10px;
}

.instrucciones h1, .correo h2 {
	background-color: rgba(50, 120, 190, 0.7);
	width: 100%;
	padding: 1% 2%;
	text-align: center;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.instrucciones p{
	align-self: flex-start;
	margin: 0 2%;
}

.instrucciones ul{
	width: 80%;
	line-height: 22px;
	font-size: 19px;
}

.instrucciones ul li{
	padding: 1% 0;
}

.instrucciones p, .instrucciones b{
	font-size: 20px;
}

.correo{
	width: 70%;
}

.div-contenedora-labelinput{
	width: 100%;
	gap: 0;
}

.correo label{
	margin: 0 10px;
	font-size: 1.1em;
}

.correo label span{
	color: #DE0006;
	font-size: 2em;
	vertical-align: sub;
} 

.correo input{
	height: 30px;
	padding: 1%;
	border: solid;
	border-width: 2px;
	border-radius: 5px;
}

.boton-solicitar-pedido{
	padding: 1% 5%;
	margin: 20px;
	font-size: 1.3em
}

@media(max-width: 1000px){
	.instrucciones h1{
		font-size: 30px;
	}
	.instrucciones ul{
		font-size: 1em;
	}
	.instrucciones p, .instrucciones b{
		font-size: 1.2em;
	}
	.correo{
		width: 75%;
	}
	.correo h2{
		font-size: 1.4em;
	}
	.correo label span{
		font-size: 1.6em;
	}
	.boton-solicitar-pedido{
		font-size: 1.2em
	}
}

@media(max-width: 750px){
	.boton-solicitar-pedido{
		font-size: 1.1em
	}
}

@media(max-width: 550px){
	.instrucciones h1{
		font-size: 1.8em;
	}
	.instrucciones p, .instrucciones b{
		font-size: 18px;
	}
	.instrucciones ul, .correo label{
		font-size: 0.9em;
	}
	.correo{
		width: 80%;
	}
	.correo h2{
		font-size: 1.2em;
	}
	.correo label span{
		font-size: 1.5em;
	}
	.boton-solicitar-pedido{
		font-size: 1em;
		padding: 2% 7%;
	}
}

@media(max-width: 450px){
	.instrucciones h1{
		font-size: 1.2em;
	}
	 .instrucciones ul{
		font-size: 14px;
	}
	.instrucciones p, .instrucciones b{
		font-size: 16px;
	}
	.correo{
		width: 85%;
	}
	.correo h2{
		font-size: 1.1em;
	}
	.correo label span{
		font-size: 1.4em;
	}
}

@media(max-width: 300px){
	.instrucciones h1{
		font-size: 1.1em;
	}
	.instrucciones ul{
		font-size: 0.85em;
	}
	.instrucciones p, .instrucciones b{
		font-size: 0.95em;
	}
	.correo{
		width: 90%;
	}
	.correo h2{
		font-size: 0.95em;
	}
	.correo label span{
		font-size: 18px;
	}
	.correo input{
		height: 25px;
	}
}