.form-añadir-imagen{
	position: relative;
	width: 80%;
	margin: 0 10%;
	padding: 1%;
	/*display: none;*/
}

.form-añadir-imagen p{
	font-size: 1.2em;
	font-weight: bold;
	padding: 0.5%;
}

.form-añadir-imagen #foto{
	width: 40%;
	font-size: 1em;
	padding: 0.5%;
}

.form-añadir-imagen #submit{
	width: 15%;
	font-size: 1.1em;
	padding: 0.5%;
}

.imagenes{
	width: 100%;
}

.contenedora-imagen{
	background-color: rgba(0,0,0,1);
	position: relative;
	width: 16%;
	margin: 1% 0.33%;
	border: solid;
	border-radius: 5px;
	float: left;
}

.imagen{
	background-color: rgba(255,255,255,0.7);
	position: relative;
	width: 100%;
}

.imagen img{
	position: relative;
	width: 100%;
}

.info-imagen{
	background-color: rgba(56,17,30,0.5);
	background-color: rgba(0,0,255,0.5);
	color: #E6E6E6;
	position: relative;
	width: 100%;
	padding: 2% 5%;
	height: 3.9em;
}

@media(max-width: 1100px){
	.contenedora-imagen{
		width: 19%;
		margin: 1% 0.5%;
	}
}

@media(max-width: 850px){
	.contenedora-imagen{
		width: 23.6%;
		margin: 1% 0.7%;
	}
	.info-imagen p{
		font-size: 0.95em;
	}
}

@media(max-width: 750px){
	.info-imagen p{
		font-size: 0.9em;
	}
}

@media(max-width: 650px){
	.contenedora-imagen{
		width: 32%;
		margin: 1% 0.65%;
	}
	.info-imagen{
		height: 3.5em;
	}
	.info-imagen p{
		font-size: 0.85em;
	}
}

@media(max-width: 550px){
	.contenedora-imagen{
		width: 47%;
		margin: 2% 1.5%;
	}
	.info-imagen{
		height: 3.2em;
	}
	.info-imagen p{
		font-size: 0.85em;
	}
}

@media(max-width: 400px){
	.contenedora-imagen{
		width: 94%;
		margin: 4% 2%;
	}
	.info-imagen{
		height: 4em;
	}
	.info-imagen p{
		font-size: 0.9em;
	}
}