.contenedor-de-articulo{
	width: 95%;
	justify-self: center;
	position: relative;
	margin: 2% 0;
	-webkit-box-shadow: 10px 10px 23px 3px rgba(0,0,0,0.7);
	-moz-box-shadow: 10px 10px 23px 3px rgba(0,0,0,0.7);
	box-shadow: 10px 10px 23px 3px rgba(0,0,0,0.7);
}

.articulo{
    width: 75%;
	height: 400px;
	margin: 1% 12.5%;
}

.disponibilidad{
	position: relative;
}

.disponibilidad p{
	text-align: center;
	padding: 0.7% 4.5%;
	font-size: 17px;
	font-family: Times New Roman;
}

.contenedor-de-articulo .boton{
	position: relative;
}

.contenedor-de-articulo button{
	padding: 1.5% 5%;
	width: 40%;
	margin: 2% 30%;
	font-size: 16px;
}