.listadoArticulos{
	position: relative;
	width: 98%;
	margin: 0 1% 50px;
	height: auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.contenedor-de-articulo{
	width: 95%;
	justify-self: center;
	position: relative;
	margin: 2% 0;
	-webkit-box-shadow: 10px 10px 23px 3px rgba(0,0,0,0.7);
	-moz-box-shadow: 10px 10px 23px 3px rgba(0,0,0,0.7);
	box-shadow: 10px 10px 23px 3px rgba(0,0,0,0.7);
}

.articulo{
    width: 80%;
	margin: 2% 10%;
}

.articulo img{
	position: absolute;
	min-width: 100px;
	height: 100%;
	width: 100%;
}

.disponibilidad{
	position: relative;
}

.disponibilidad p{
	text-align: center;
	padding: 0.7% 4.5%;
	font-size: 17px;
	font-family: Times New Roman;
}

.contenedor-de-articulo button{
	width: 40%;
	margin: 2% 30%;
	padding: 1.5% 5%;
}

@media(max-width: 1470px){
	.div_info_articulo h1{
		font-size: 27px;
	}
	.div_info_articulo p{
		font-size: 15px;
	}
}

@media(max-width: 1328px){
	.div_info_articulo h1{
		font-size: 25px;
	}
}

@media(max-width: 1235px){
	.div_info_articulo h1{
		font-size: 23px;
	}

	.div_info_articulo p{
		font-size: 14px;
	}
}

@media(max-width: 1140px){
	.formulario-filtrar form .select{
		width: 30%;
	}
	.formulario-filtrar form .select select{
		font-size: 15px;
	}
	.formulario-filtrar .enviar-filtrar input{
		font-size: 16px;
	}
	.listadoArticulos{
		width: 93%;
		margin: 0 3.5% 50px;
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
	.contenedor-de-articulo{
		width: 94%;	
	}
	.div_info_articulo h1{
		font-size: 21px;
	}
	.div_info_articulo p{
		font-size: 13px;
	}
}

@media(max-width: 1047px){
	.div_info_articulo h1{
		font-size: 20px;
	}

	.div_info_articulo p{
		font-size: 12px;
	}
}

@media(max-width: 1000px){
	.div_info_articulo h1{
		font-size: 19px;
	}
}

@media(max-width: 905px){
	.div_info_articulo h1{
		font-size: 18px;
	}
}

@media(max-width: 860px){
	.listadoArticulos{
		width: 94%;
		margin: 0 3% 50px;
		grid-template-columns: 1fr 1fr 1fr;
	}
	.contenedor-de-articulo{
		width: 94%;	
	}
	.div_info_articulo h1{
		font-size: 24px;
	}

	.div_info_articulo p{
		font-size: 13px;
	}
}

@media(max-width: 790px){
	.div_info_articulo h1{
		font-size: 21px;
	}

	.div_info_articulo p{
		font-size: 12px;
	}
}

@media(max-width: 710px){
	.titulo-tienda h1{
		font-size: 35px;
	}
}

@media(max-width:640px){
	.listadoArticulos{
		grid-template-columns: 1fr 1fr;
	}
	.contenedor-de-articulo{
		width: 94%;
		margin: 2.5% 0;
	}
	.div_info_articulo h1{
		font-size: 19px;
	}
	.div_info_articulo p{
		font-size: 12px;
	}
}

@media(max-width: 600px){
	.div_info_articulo h1{
		font-size: 18px;
	}
	.titulo-tienda h1{
		font-size: 30px;
	}
	.formulario-filtrar form{
		margin: 0;
		display: inline;
	}
	.formulario-filtrar form .select{
		width: 45%;
		height: 27px;
	}
	.formulario-filtrar .enviar-filtrar{
		margin-left: 15px;
		width: 20%;
	}
}

@media(max-width: 540px){
	.titulo-tienda h1{
		font-size: 28px;
	}
	.div_info_articulo h1{
		font-size: 17px;
	}
}

@media(max-width: 500px){
	.titulo-tienda h1{
		font-size: 25px;
		margin: 10px;
	}
	.div_info_articulo h1{
		font-size: 16px;
	}
	.div_info_articulo p{
		font-size: 12px;
	}
}

@media(max-width: 480px){
	.listadoArticulos{
		width: 96%;
		margin: 0 2% 50px;
	}
}

@media(max-width: 460px){
	.formulario-filtrar form .select{
		width: 50%;
	}
	.formulario-filtrar .enviar-filtrar{
		width: 25%;
	}
	.formulario-filtrar .enviar-filtrar input{
		font-size: 15px;
	}
}

@media(max-width: 421px){
	.formulario-filtrar form .select{
		width: 65%;
	}
	.formulario-filtrar .enviar-filtrar{
		margin-left: 15px;
		width: 25%;
	}
	.formulario-filtrar .enviar-filtrar input{
		font-size: 15px;
	}
	.div_info_articulo h1{
		font-size: 15px;
	}
}
@media(max-width: 390px){
	.listadoArticulos{
		width: 98%;
		margin: 0 1% 50px;
	}
}

@media(max-width: 353px){
	.listadoArticulos{
		grid-template-columns: 1fr;
	}
	.contenedor-de-articulo{
		width: 100%;
		margin: 4% 0;
	}
}

@media(max-width: 280px){
	.titulo-tienda h1{
		font-size: 20px;
		margin: 7px;
	}
	.formulario-filtrar form .select{
		margin-left: 5px;
		width: 40%;
	}
	.formulario-filtrar .enviar-filtrar{
		margin-left: 5px;
		width: 20%;
	}
	.formulario-filtrar .enviar-filtrar input{
		font-size: 14px;
	}
}