.contenedor-de-articulo{
	position: relative;
	width: 48.7%;
	max-width: 600px;
	height: 500px;
	margin: 1.5% 0.65%;
	-webkit-box-shadow: 1px 1px 23px 1px rgba(0,0,0,0.8);
	-moz-box-shadow: 1px 1px 23px 1px rgba(0,0,0,0.8);
	box-shadow: 1px 1px 23px 1px rgba(0,0,0,0.8);
}

.articulo{
    width: 75%;
	height: 400px;
	max-height: 500px;
	margin: 1% 12.5%;
}

.disponibilidad{
	position: relative;
}

.disponibilidad p{
	padding: 0.7% 4.5%;
	font-size: 17px;
	font-family: Times New Roman;
}

.contenedor-de-articulo .boton{
	position: relative;
}

.contenedor-de-articulo button{
	padding: 1.5% 5%;
	width: 40%;
	margin: 2% 30%;
	font-size: 16px;
}