.navbar{
	background-color: #2E2E2E;
	position: sticky;
	top: 0;
	display: grid;
	grid-template-columns: 2fr 5fr 2fr 1fr;
	grid-template-areas: 
		"titulo ul-navbar add usuario";
	column-gap: 20px;
	padding: 0 20px;
	border-color: #080808;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	z-index: 1;
}

.contenedora-hamburguesa{
	grid-area: hamburguesa;
	display: none;
}

.hamburger-lines{
	width: 100%;
	height: 100%;
	padding: 1% 0;
	z-index: 2;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.hamburger-lines .line {
	display: block;
	height: 8px;
	width: 100%;
	border-radius: 10px;
	background: #FAFAFA;
}

.navbar-titulo{
	grid-area: titulo;
	padding-block-start: 0.5em;
	padding-block-end: 0.5em;
	text-align: left;
	font-size: 1.4em;
	text-decoration: none;
	color: #E6E6E6;
}

.ul-navbar{
	grid-area: ul-navbar;
	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: flex-start;
}

.ul-navbar li{
	display: flex;
	align-items: center;
	list-style: none;
}

.ul-navbar li a{
	padding: 1em;
	text-decoration: none;
	color: #A4A4A4;
}

.ul-navbar a:hover{
	color: #E6E6E6;
}

.navbar-titulo a:hover{
	color: #A4A4A4;
}

.selecionado{
	background-color: #000000;
}

.selecionado a{
	color: #FAFAFA;
}

.div-añadir{
	grid-area: add;
	display: flex;
	justify-content: center;
	align-items: center;
}

.div-añadir a{
	background-color: transparent;
	padding-block-start: 1em;
	padding-block-end: 1em;
	padding: 1em;
	font-size: 1em;
	text-align: center;
	text-decoration: none;
	color: #BDBDBD;
	cursor: pointer;
}

.div-añadir a:hover{
	color: #F2F2F2;
}

.div-usuario{
	grid-area: usuario;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.div-icono-usuario{
	background-color: rgba(50, 120, 190, 1);
	width: 25%;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.div-icono-usuario i{
	font-size: 1em;
	font-weight: bold;
	color: #F2F2F2;
}

.dropdown-content {
	background-color: #A4A4A4;
	position: absolute;
	right: 10px;
	min-width: 200px;
	width: 300px;
	padding: 1%;
	display: none;
	border-radius: 10px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content a{
	display: block;
	color: black;
	text-decoration: none;
}

.div-usuario:hover .dropdown-content {
	display: block;
}

.cambiar-pwd{
	padding: 8px 12px;
	margin: 1% 5%;
	font-size: 1.2em;
}

.cambiar-pwd:hover{
	color: #F2F2F2;
}

.logout{
	background-color: #FA5858;
	padding: 12px 16px;
	margin: 3% 2% 2% 2%;
	font-size: 1.3em;
	border-radius: 5px;
	cursor: pointer;
}

.logout:hover {
	background-color: #FF0000;
	color: #2E2E2E;
}

@media(max-width: 1500px){
	.div-icono-usuario{
		width: 30%;
	}
}

@media(max-width: 1200px){
	.navbar{
		grid-template-columns: 2fr 4fr 2fr 1fr;
	}
}

@media(max-width: 1000px){
	.navbar{
		grid-template-columns: 3fr 4fr 2fr 1fr;
	}
	.navbar-titulo{
		font-size: 1.3em;
	}
	.div-icono-usuario{
		width: 40%;
	}
}

@media(max-width: 860px){
	.navbar{
		grid-template-columns: 3fr 5fr 3fr 1fr;
	}
	.navbar-titulo{
		padding-block-start: 1em;
		padding-block-end: 1em;	
		font-size: 1.2em;
	}
	.div-icono-usuario{
		width: 70%;
	}
}

@media(max-width: 775px){
	.div-icono-usuario{
		width: 90%;
	}
}

@media(max-width: 700px){
	.navbar{
		padding: 0 10px;
		grid-template-columns: 1fr 4fr 3fr 1fr;
		grid-template-rows: auto;
		grid-template-areas: 
			"hamburguesa titulo add usuario"
			"ul-navbar ul-navbar ul-navbar ul-navbar";
		column-gap: 10px;
	}
	.contenedora-hamburguesa{
		display: block;
	}
	.navbar-titulo{
		text-align: center;
	}
	.ul-navbar{
		display: none;
		flex-direction: column;
	}
	.ul-navbar li a{
		width: 100%;
		text-align: center;
	}
	.div-icono-usuario{
		width: 70%;
	}
}

@media(max-width: 600px){
	.navbar-titulo{
		font-size: 1em;
	}
}

@media(max-width: 500px){
	.navbar{
		grid-template-columns: 1fr 4fr 4fr 1fr;
		column-gap: 5px;
	}
	.hamburger-lines .line {
		height: 6px;
	}
	.navbar-titulo{
		font-size: 1em;
	}
	.div-icono-usuario{
		width: 100%;
	}
}

@media(max-width: 300px){
	.dropdown-content {
		width: 100%;
		right: 0;
		border-radius: 0;
	}
}