.titulo-tienda{
	background-color: rgba(50, 120, 190, 0.7);
	width: 84%;
	padding: 1px;
	margin: 0 8% 20px;
	text-align: center;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

.titulo-tienda h1{
	font-size: 40px;
	margin: 15px;
	color: white;
}

.formulario-filtrar{
	width: 95%;
	margin: 5px 2.5%;
}

.formulario-filtrar form{
	width: 98%;
	margin: 0 1%;
	display: flex;
}

.formulario-filtrar form .select{
	margin: 7px 0 7px 15px;
	min-width: 140px;
	width: 20%;
	height: 30px;
}

.formulario-filtrar form .select select{
	width: 100%;
	height: 100%;
	font-size: 17px;
}

.formulario-filtrar .enviar-filtrar{
	margin: 7px 0 7px 15px;
	height: 30px;
	min-width: 60px;
	max-width: 80px;
}

.formulario-filtrar .enviar-filtrar input{
	width: 100%;
	height: 100%;
	font-size: 18px;
	font-weight: bold;
}

.articulosTienda{
	width: 92%;
	margin: 0 4% 50px 4%;
	height: auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.articulo{
	width: 95%;
	justify-self: center;
	position: relative;
	margin: 2% 0;
	-webkit-box-shadow: 10px 10px 23px 3px rgba(0,0,0,0.7);
	-moz-box-shadow: 10px 10px 23px 3px rgba(0,0,0,0.7);
	box-shadow: 10px 10px 23px 3px rgba(0,0,0,0.7);
}

.articulo img{
	position: absolute;
	min-width: 100px;
	height: 100%;
	width: 100%;
}

.div_info_articulo{
	background-color: rgba(56,17,30,0.9);
	position: absolute;
	margin: 0;
	bottom: 0;
	transition: visibility 2s;
	width: 100%;
}

.div_info_articulo h1{
	color: #e6e6e6;
	margin: 10px 2px 0 2px;
	font-family: Marcellus SC;
	font-size: 29px;
	text-align: center;
}

.div_info_articulo p{
	color: #e6e6e6;
	line-height: 0;
	font-size: 16px;
	visibility: hidden;
	margin: 0;
	text-align: center;
	font-family: Times New Roman;
}

.div_info_articulo .descripcion_articulo{
	margin: 5px 5px 10px 5px;
	
}

.articulo:hover .div_info_articulo p{
	visibility: visible;
	line-height: normal;
	margin: 7px 2px;
}

.articulo:hover .div_info_articulo{
	height: auto;
}

@media(max-width: 1470px){
	.div_info_articulo h1{
		font-size: 27px;
	}
	.div_info_articulo p{
		font-size: 15px;
	}
}

@media(max-width: 1328px){
	.div_info_articulo h1{
		font-size: 25px;
	}
}

@media(max-width: 1235px){
	.div_info_articulo h1{
		font-size: 23px;
	}
	.div_info_articulo p{
		font-size: 14px;
	}
}

@media(max-width: 1140px){
	.formulario-filtrar form .select{
		width: 30%;
	}
	.formulario-filtrar form .select select{
		font-size: 15px;
	}
	.formulario-filtrar .enviar-filtrar input{
		font-size: 16px;
	}
	.articulosTienda{
		width: 93%;
		margin: 0 3.5% 50px;
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
	.articulo{
		width: 94%;	
	}
	.div_info_articulo h1{
		font-size: 21px;
	}
	.div_info_articulo p{
		font-size: 13px;
	}
}

@media(max-width: 1047px){
	.div_info_articulo h1{
		font-size: 20px;
	}
	.div_info_articulo p{
		font-size: 12px;
	}
}

@media(max-width: 1000px){
	.div_info_articulo h1{
		font-size: 19px;
	}
}

@media(max-width: 905px){
	.div_info_articulo h1{
		font-size: 18px;
	}
}

@media(max-width: 860px){
	.articulosTienda{
		width: 94%;
		margin: 0 3% 50px;
		grid-template-columns: 1fr 1fr 1fr;
	}
	.articulo{
		width: 94%;	
	}
	.div_info_articulo h1{
		font-size: 24px;
	}

	.div_info_articulo p{
		font-size: 13px;
	}
}

@media(max-width: 790px){
	.div_info_articulo h1{
		font-size: 21px;
	}
	.div_info_articulo p{
		font-size: 12px;
	}
}

@media(max-width: 710px){
	.titulo-tienda h1{
		font-size: 35px;
	}
}

@media(max-width:640px){
	.articulosTienda{
		grid-template-columns: 1fr 1fr;
	}
	.articulo{
		width: 94%;
		margin: 2.5% 0;
	}
	.div_info_articulo h1{
		font-size: 19px;
	}
	.div_info_articulo p{
		font-size: 12px;
	}
}

@media(max-width: 600px){
	.div_info_articulo h1{
		font-size: 18px;
	}
	.titulo-tienda h1{
		font-size: 30px;
	}
	.formulario-filtrar form{
		margin: 0;
		display: inline;
	}
	.formulario-filtrar form .select{
		width: 45%;
		height: 27px;
	}
	.formulario-filtrar .enviar-filtrar{
		margin-left: 15px;
		width: 20%;
	}
}

@media(max-width: 540px){
	.titulo-tienda h1{
		font-size: 28px;
	}
	.div_info_articulo h1{
		font-size: 17px;
	}
}

@media(max-width: 500px){
	.titulo-tienda h1{
		font-size: 25px;
		margin: 10px;
	}
	.div_info_articulo h1{
		font-size: 16px;
	}
	.div_info_articulo p{
		font-size: 12px;
	}
}

@media(max-width: 480px){
	.articulosTienda{
		width: 96%;
		margin: 0 2% 50px;
	}
}

@media(max-width: 460px){
	.formulario-filtrar form .select{
		width: 50%;
	}
	.formulario-filtrar .enviar-filtrar{
		width: 25%;
	}
	.formulario-filtrar .enviar-filtrar input{
		font-size: 15px;
	}
}

@media(max-width: 421px){
	.formulario-filtrar form .select{
		width: 65%;
	}
	.formulario-filtrar .enviar-filtrar{
		margin-left: 15px;
		width: 25%;
	}
	.formulario-filtrar .enviar-filtrar input{
		font-size: 15px;
	}
	.div_info_articulo h1{
		font-size: 15px;
	}
}
@media(max-width: 390px){
	.articulosTienda{
		width: 98%;
		margin: 0 1% 50px;
	}
}

@media(max-width: 353px){
	.articulosTienda{
		grid-template-columns: 1fr;
	}
	.articulo{
		width: 100%;
		margin: 4% 0;
	}
}

@media(max-width: 280px){
	.titulo-tienda h1{
		font-size: 20px;
		margin: 7px;
	}
	.formulario-filtrar form .select{
		margin-left: 5px;
		width: 40%;
	}
	.formulario-filtrar .enviar-filtrar{
		margin-left: 5px;
		width: 20%;
	}
	.formulario-filtrar .enviar-filtrar input{
		font-size: 14px;
	}
}