	<div class="tienda" id="tienda">
		<div class="titulo-tienda">
			<h1>PRODUCTOS SOLIDARIOS</h1>
		</div>
		<div class="formulario-filtrar">
			<form id="formulario-selecion" method="post" action="">
				<div class="select">
					<select name="seleccionCategoria" id="seleccionCategoria">
						<option value="0">Todos</option>
					</select>
				</div>
				<div class="select">
					<select name="seleccionOrden" id="seleccionOrden">
						<option value="0">Novedades</option>
						<option value="1">Nombre</option>
						<option value="2">Precio menor a mayor</option>
						<option value="3">Precio mayor a menor</option>
					</select>
				</div>
			</form>
		</div>
		<div class="articulosTienda" id="articulosTienda"></div>
	</div>