<nav class="navbar">
	<div class="container-fluid">
		<div class="div-menu-izquierda">
			<div class="navbar-header">
				<a class="navbar-brand" href="../index.php">Mercadillo Parroquial</a>
			</div>
			<ul class="ul-navbar">
				<li class="selecionado"><a href="listadoProductos.php">Articulos</a></li>
				<li><a href="listadoCategorias.php">Categorias</a></li>
				<li><a href="listadoImagenes.php">Imagenes</a></li>
			</ul>
		</div>
		<div class="div-menu-derecha">
			<div class="div-añadir">
				<div class="div-contenedor-añadir">
					<a href="añadirProducto.php">Añadir Producto</a>
				</div>
			</div>
			<div class="div-usuario dropdown">
				<div class="div-icono-usuario">
					<i></i>
					<div class="dropdown-content"></div>
				</div>
			</div>
		</div>
	</div>
</nav>
<script type="text/javascript">
	ajustarTamañoMenu(); 
	function ajustarTamañoMenu(){
		$(".div-icono-usuario").css("height",$(".div-icono-usuario").width());
		$(".dropdown-content").css("top",$(".div-usuario").height()-7);
		$(".dropdown-content").css("left",-($(".div-usuario").width()+130));
	}
</script>