	<div class="categoria">
		<div class="div-contenedora-info-articulo">
			<h3 id="idCategoriaTxt">ID: </h3>
			<input type="hidden" name="idCategoria" id="idCategoria">
			<div class="div-input div-text">
				<label for="nombre">Nombre de la categoria: </label><br>
				<input type="text" id="nombre" name="nombre"><br>
			</div>
			<div class="div-check">
				<input type="checkbox" id="inputMostrar" name="inputMostrar" value="1">
				<label for="inputMostrar">La categoria se muestra</label><br>
			</div>
		</div>
		<div class="div-boton">
			<button id="bttnDeshacer" class="button"> Deshacer cambios</button>
			<button id="bttnEditar" class="button">Editar</button>
		</div>
	</div>