<dialog class="dialog-eliminarImagen" id="dialog-eliminarImagen">
	<div class="div-dialog-eliminarImagen">
		<h2>¿Quieres eliminar la siguiente foto?</h2>
		<div class="dialog-imagen">
			<img id="imgDialog"/>
			<p class="p-idImagen">Id de la imagen: <b id="bIdImagen"></b></p>
			<p class="p-nombreImagen">Nombre de la imagen: <b id="bNombreImagen"></b></p>
		</div>
		<div class="div-confirmacionEliminar">
			<h3>¿Quieres eliminar esta imagen definitivamente?</h3>
			<h4>¡Esta accion no se puede deshacer!</h4>
			<p><i>Si la imagen está asociada a algún articulo la imagen no se podrá eliminar</i></p>
			<button id="bttnCancelarEliminar">Cancelar</button>
			<button id="bttnEliminar">Eliminar</button>
		</div>
	</div>
</dialog>