<div class="articulo">
	<form method="post" id="formularioNuevoArticulo">
		<div class="div-contenedora-info-articulo">
			<h3>Nuevo producto</h3>
			<div class="div-input div-text">
				<label for="nombre">Nombre del producto: </label><br>
				<input type="text" id="nombre" name="nombre"><br>
			</div>
			<div class="div-input div-text">
				<label for="descripcion">Descripción del producto: </label><br>
				<input type="text" id="descripcion" name="descripcion"><br>
			</div>
			<div class="div-precio-check">
				<div class="div-precio">
					<label for="precio">Precio:</label>
					<input type="number" min="0" step="0.01" id="precio" name="precio"><label for="precio">€</label><br>
					<label id="precio-error" class="error" for="precio"></label>
				</div>
				<div class="div-check">
					<input type="checkbox" id="inputMostrar" name="inputMostrar"  value="1" checked>
					<label for="inputMostrar">El articulo se muestra</label><br>
				</div>
			</div>
			<!--input-radio disponibilidad-->
			<div class="div-input-radio">
				<input type="radio" id="dispoNomal" name="disponibilidad" value="1" checked>
				<label for="dispoNomal">El articulo se muestra normalmente</label><br>
				<input type="radio" id="dispoAgotado" name="disponibilidad" value="2">
				<label for="dispoAgotado">El articulo se muestra como agotado</label><br>
				<input type="radio" id="dispoUnidadesLimitadas" name="disponibilidad" value="3">
				<label for="dispoUnidadesLimitadas">El articulo se muestra como disponible con unidades limitadas</label>
			</div>
		</div>
		<!--seleccion de checkbox de las categorias-->
		<div class="modificar-categorias-articulo">
			<h3>Selecciona categoría(s)</h3>
			<input type="hidden" name="numCategorias" id="numCategorias">
		</div>
		<div class="div-añadirImagen">
			<h3>Selecciona imágenes</h3>
			<div class="div-añadirImagen-id">
				<label class="label-select-imagen-id" for="select-imagen-id">Selecciona ID de imagen: </label>
				<select name="select-imagen-id" id="select-imagen-id" onchange="ajustarIDNombreImagen(this.value)">
					<option value="">--</option>
				</select>
			</div>
			<div class="div-añadirImagen-nombre">
				<label class="label-select-imagen-nombre" for="select-imagen-nombre">Selecciona nombre de imagen: </label>
				<select name="select-imagen-nombre" id="select-imagen-nombre" onchange="ajustarIDNombreImagen(this.value)">
					<option value="">--</option>      
				</select>
			</div>	
			<button class="button" onclick="sumImagen()">Añadir foto</button>
		</div>
		<div class="div-contenedora-imagenes-articulo">
			<script type="text/javascript">
				var contadorImagenes = 0;
			</script>
		</div>
		<input type="hidden" name="hiddenContadorImagenes" id="hiddenContadorImagenes">
		<div class="div-boton">
			<button id="bttnDeshacer" class="button" type="reset"> Deshacer cambios</button>
			<button id="bttnAñadir" class="button" type="submit">Añadir</button>
		</div>
	</form>
</div>