	<div class="categoria">
		<div class="div-contenedora-info-articulo">
			<h3>Nueva Categoria</h3>
			<div class="div-input div-text">
				<label for="nombre">Nombre de la categoria: </label><br>
				<input type="text" id="nombre" name="nombre"><br>
			</div>
			<div class="div-check">
				<input type="checkbox" id="inputMostrar" name="inputMostrar" value="1" checked>
				<label for="inputMostrar">Los articulos de esta categoria se muestran</label><br>
			</div>
		</div>
		<div class="div-boton">
			<button id="bttnDeshacer"> Deshacer cambios</button>
			<button id="bttnAñadir">Añadir</button>
		</div>
	</div>